In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore", UserWarning)
import spacy

In [2]:
excel_data =  pd.read_csv("sentiment.csv")

In [3]:
del excel_data['Unnamed: 0']

In [4]:
excel_data.drop(excel_data[excel_data.filename == 'COCO_val2014_000000130712.jpg'].index , inplace=True)
excel_data.drop(excel_data[excel_data.filename == 'COCO_val2014_000000310622.jpg'].index , inplace=True)
excel_data.drop(excel_data[excel_data.filename == 'COCO_val2014_000000421673.jpg'].index , inplace=True)
excel_data.drop(excel_data[excel_data.filename == 'COCO_val2014_000000359276.jpg'].index , inplace=True)

In [5]:
import nltk
import string 
nltk.download('punkt')
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
text = excel_data["raw"].astype("str").tolist()
final=[]
final2=[]
for i in text:
    name_tokens = nltk.word_tokenize(i.lower())
    test=[]
    for i in name_tokens:
        if (i in string.punctuation or i in stopwords.words('english')):
            x=-1
        else:
            test.append(i)

    final=test
    final2.append(" ".join(final))
    
    """note: remove the word_sentiment from list of 
    words that are not included in the updated cleaned words"""

In [7]:
excel_data["raw"] = final2
tokens  = excel_data["tokens"]
excel_data["raw"]

0              plate delicious food including french fries
1        french fries healthy food excellent food teena...
2                    plate one favorite foods french fries
3                                 disgusting food bad food
4                        plate disgusting food found diner
                               ...
39194           dirty bathroom dirty window made dead wood
39195                                dirty bathroom window
39196                            towel rack dirty bathroom
39197           dirty bathroom dirty window made dead wood
39198                                dirty bathroom window
Name: raw, Length: 39109, dtype: object

# text to numbers

In [14]:
text= np.array(excel_data["raw"])
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=4096)
vectorizer.fit(text.astype('U'))
testing=vectorizer.transform(text.astype('U'))
matrix=testing.todense()

In [30]:
df= pd.DataFrame(testing.toarray(), columns= vectorizer.get_feature_names())
df.head()

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,18,20th,300,40,555,abandoned,able,aboard,abroad,absolutely,...,yummy,zebra,zebras,zero,zips,zone,zones,zoo,zookeeper,zookeepers
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
import pickle
# with open('text.pkl', 'wb') as f:
#     pickle.dump(matrix, f)

In [7]:
with open('text.pkl', 'rb') as f:
    matrix = pickle.load(f)

In [36]:
import torch
def convert_to_tensor(file):
    tensor = torch.tensor(file, dtype=torch.float32)
    return tensor

In [40]:
text_tensor = convert_to_tensor(matrix)

#to check if all tensors have same lenght
leng = []
for i in text_tensor:
    leng.append(len(i))
    
set(leng)

{4096}

torch.float32

hence proved every tensor has the same lenght

In [43]:
with open('text_tensors.pkl', 'wb') as f:
    pickle.dump(text_tensor, f)